table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
}

td,
th {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: right;
}

th {
  background-color: beige;
}

td:first-child,td:nth-child(3) {
  text-align: left;
}
