.container {
  margin: 15px 50px 0px 50px;
}

.filters {
  text-align: right;
  border-bottom: 2px solid rgb(211, 205, 205);
}

.btn-grid,
.btn-list {
  margin: 1px;
}

.dropdown-price {
  padding: 5px;
  height: 34px;
  margin: 10px 0px 10px 10px;
}

select option {
  padding: 2px;
}

.products-layout {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  width: 100%;
  font-size: 100%;
}

.product-grid {
  height: 200px;
  box-shadow: 1px 0.5px 1px 0.5px #ccc;
  width: 23%;
  flex-grow: 0;
  margin: 15px 4px 15px 20px;
}

.product-list {
  height: 300px;
  box-shadow: 1px 1px 1px 1px #ccc;
  width: 48%;
  flex-grow: 0;
  margin: 15px 4px 15px 20px;
}
.product-img {
  width: auto;
  height: auto;
  max-width: 100%;
  margin: auto;
  max-height: 100%;
  display: block;
}

.product-img-section {
  height: 70%;
}

.product-desc-section {
  height: 30%;
  padding: 10px 0px 10px 10px;
}

.product-desc-section h4 {
  display: inline-block;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.product-desc-section p {
  color: green;
  font-weight: 800;
  line-height: 0.2;
}
.product-desc-section p::before {
  content: 'Rs ';
  color: green;
}

.no-products {
  padding: 15px 20px 15px 20px;
  font-size: 150%;
  line-height: 0.5;
  background-color: rgb(75, 65, 65);
  color: white;
  margin: 50px auto 0px auto;
  border-radius: 20px;
}
