/* .container {
  margin: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
} */

.dynamic-div {
  height: 200px;
  width: 200px;
  border: 1px solid rgb(187, 152, 152);
  position: relative;
  display: inline-block;
  margin: 10px 10px 10px 12px;
}

.btn {
  padding: 10px;
  transform: translate(90%, 220%);
  background-color: blue;
  color: white;
  border: none;
}

.example-viewport {
  width: 215vh;
  margin: 2px;
  height: 1000px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.example-viewport::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example-viewport {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
