<div class="container">
  <div class="box-border">
    <app-countdown-timer timer={{countdownTimer}} pause={{isPaused}} start={{isStart}}></app-countdown-timer>
  </div>
  <div class="box-border">
    <app-timer-reset (timelimit)="getTimer($event)" (isPaused)="isPauseClicked($event)"
      (isStart)="isStartClicked($event)" (pauseCounts)="getPauseCounts($event)" (startCounts)="getStartCounts($event)">
    </app-timer-reset>
  </div>
  <div class="box">
    <app-timer-log pause={{isPaused}} start={{isStart}}></app-timer-log>
  </div>
  <div class="box">
    <app-click-counts pauseCounts={{pauseCount}} startCounts={{startCount}}></app-click-counts>
  </div>
</div>