<div class="container">
  <div class="box">
    <app-countdown-timer timer={{countdownTimer}} pause={{isPaused}} start={{isStart}}></app-countdown-timer>
  </div>
  <div class="box">
    <app-timer-reset (timelimit)="getTimer($event)" (isPaused)="isPauseClicked($event)"
      (isStart)="isStartClicked($event)">
    </app-timer-reset>
  </div>
  <div class="box">
    <app-timer-log></app-timer-log>
  </div>
  <div class="box">
    <app-click-counts (pauseClickCount)={{pauseClickCount}} (startClickCount)={{startClickCount}}></app-click-counts>
  </div>
</div>