/* Add application styles & imports to this file! */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}
