.container {
  width: 30%;
  transform: translate(120%, 50%);
  background-color: rgba(230, 202, 44, 0.74);
  box-shadow: 2px 2px 2px 2px rgba(230, 202, 44, 0.74);
  padding: 30px;
}

.outer {
  background-color: rgb(206, 171, 171);
  width: 100%;
  height: -webkit-fill-available;
}

ul {
  list-style: none;
  text-align: justify;
}

li {
  padding: 5px;
  font-size: 140%;
  width: 100%;
  color: blue;
}

li:hover {
  font-size: 150%;
  cursor: pointer;
}

.quick-links {
  text-decoration: underline;
}
