.container {
  width: 30%;
  transform: translate(120%, 50%);
  background-color: rgba(245, 195, 102, 0.705);
  padding: 30px;
}

ul {
  list-style: none;
  text-align: justify;
}

li {
  padding: 5px;
  font-size: 140%;
  width: 100%;
}

li:hover {
  box-shadow: 1px 1px 1px 1px #ccc;
}
